################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeveloperTask281217/.vs/DeveloperTask281217/v15
